<h1 class="title has-text-centered">Lista pretplaćenih</h1>
<div class="container">
    <br>
    <table class="table is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Vrsta</th>
                <th>Naziv</th>
                <th>Adresa</th>
                <th></th>
            </tr>
        </thead>

        <h1 *ngIf="subscribedReservationEntities==null || subscribedReservationEntities.length == 0">Niste se
            pretplatili ili za izabrane kriterijume ne postoje pretplate</h1>
        <tbody *ngFor="let subscription of subscribedReservationEntities">
            <tr>
                <td *ngIf="subscription.reservationEntities.type == 'cottage'">vikendica</td>
                <td *ngIf="subscription.reservationEntities.type == 'boat'">brod</td>
                <td *ngIf="subscription.reservationEntities.type == 'fishingInstructor'">instruktor pecanja</td>

                <td>{{subscription.reservationEntities.name}}</td>
                <td>{{subscription.reservationEntities.address.street}}
                    {{subscription.reservationEntities.address.number}},
                    {{subscription.reservationEntities.address.city}},
                    {{subscription.reservationEntities.address.country}}
                </td>
                <td><button class="delete is-large" (click)="unsubscribe(subscription.reservationEntities.id)">Otkaži pretplatu</button></td>
            </tr>
        </tbody>
    </table>


</div>