<h1 class="title has-text-centered">Lista pretplaćenih</h1>
<div class="container">
    <br>
    <nav class="panel">
        <p>Vrsta: </p>

        <div>
            <label class="checkbox ml-6">
                <input type="checkbox">
                Vikendice
            </label>
        </div>


        <div>
            <label class="checkbox ml-6">
                <input type="checkbox">
                Brodovi / čamci
            </label>
        </div>

        <div>
            <label class="checkbox ml-6">
                <input type="checkbox">
                Instruktori pecanja
            </label>
        </div>
    </nav>
    <table class="table is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Vrsta</th>
                <th>Naziv</th>
                <th>Adresa</th>
                <th></th>
            </tr>
        </thead>

        <!--dummy data-->
        <tfoot>
            <tr>
                <td>Brod/Čamac</td>
                <td>Mesec</td>
                <td>885-3976 Eu Av.</td>
                <td><button class="delete is-large">Otkaži pretplatu</button></td>
            </tr>
            <tr>
                <td>Instruktor pecanja</td>
                <td>Fishing</td>
                <td>Ap #599-5983 Donec St.</td>
                <td><button class="delete is-large">Otkaži pretplatu</button></td>
            </tr>
            <tr>
                <td>Instruktor pecanja</td>
                <td>Fishing</td>
                <td>Ap #212-1151 Erat Rd.</td>
                <td><button class="delete is-large">Otkaži pretplatu</button></td>
            </tr>
            <tr>
                <td>Vikendica</td>
                <td>Mesec</td>
                <td>P.O. Box 223, 9909 Per Rd.</td>
                <td><button class="delete is-large">Otkaži pretplatu</button></td>
            </tr>
        </tfoot>
    </table>


</div>