<div class="container">
    <br>
    <nav class="panel">
        <div class="panel-block">
            <p class="control has-icons-left">
                <input class="input" type="text" placeholder="Pretraga" [(ngModel)]="this.searchFilterSortModel.search">
            </p>
            <a class="button is-info" (click)="searchFilterSort()">
                Pretraži
            </a>
        </div>
        <p>Vrsta: </p>

        <div>
            <label class="checkbox ml-6">
                <input type="checkbox" (click)="selectType('cottage')"> Vikendice
            </label>
        </div>


        <div>
            <label class="checkbox ml-6">
                <input type="checkbox" (click)="selectType('boat')"> Brodovi / čamci
            </label>
        </div>

        <div>
            <label class="checkbox ml-6">
                <input type="checkbox" (click)="selectType('fishingInstructor')"> Instruktori pecanja
            </label>
        </div>
        <div class="navbar-end" *ngIf="this.authService.getRole() == 'ROLE_USER'">
            <div class="select level-right">
                <select [(ngModel)]="this.searchFilterSortModel.sort" (change)="searchFilterSort()">
                    <option value="">Sortiraj</option>
                    <option value="na">Naziv rastuće</option>
                    <option value="nd">Naziv opadajuće</option>
                    <option value="la">Lokacija rastuće</option>
                    <option value="ld">Lokacija opadajuće</option>
                    <option value="ra">Ocena rastuće</option>
                    <option value="rd">Ocena opadajuće</option>
                </select>
            </div>
        </div>
    </nav>
    <h1 *ngIf="reservationEntities==null || reservationEntities.length == 0">Za izabrane kriterijume ne postoje
        vikendice / brodovi / instruktori pecanja</h1>
    <article class="message" style="height: 25%;" *ngFor="let reservationEntity of reservationEntities">
        <div class="message-header">
            <a routerLink="../reservationEntity/{{reservationEntity.id}}" style="text-decoration: none">
                <p>{{reservationEntity.name}}</p>
            </a>
            <span class="icon">
                <a *ngIf="!isSubscribed(reservationEntity.id) && this.authService.getRole() == 'ROLE_USER'" (click)="subscribe(reservationEntity.id)">
                    <i class="fas fa-lg fa-bell"></i>
                </a>
            </span>
        </div>
        <a routerLink="../reservationEntity/{{reservationEntity.id}}" style="text-decoration: none">
            <div class="message-body">
                <div class="columns">
                    <div class="column is-one-quarter">
                        <img height="100%" width="100%" src="{{reservationEntity.base64Image}}"
                            alt="Nije učitana slika">
                    </div>
                    <div class="column">
                        <p>Adresa: {{reservationEntity.address.street}} {{reservationEntity.address.number}},
                            {{reservationEntity.address.city}}, {{reservationEntity.address.country}}</p>
                        <br>
                        <p class="cut-text2" style="height: 20%;">
                            Opis: {{reservationEntity.promotionalDescription}}
                        </p>
                        <br>
                        <p class="cut-text1" style="height: 10%;">
                            Pravila ponašanja: {{reservationEntity.rulesOfConduct}}
                        </p>
                        <br>
                        <p *ngIf="reservationEntity.type == 'cottage'">Vrsta: vikendica</p>
                        <p *ngIf="reservationEntity.type == 'boat'">Vrsta: brod</p>
                        <p *ngIf="reservationEntity.type == 'fishingInstructor'">Vrsta: instruktor pecanja</p>
                        <p class="level-right">10/10</p>
                    </div>
                </div>
            </div>
        </a>
    </article>
</div>
<br>