<div class="container">
    <h1><strong>Vaše usluge:</strong></h1>
    <br>
    <nav class="panel">
        <div class="panel-block">
            <p class="control has-icons-left">
                <input class="input" type="text" placeholder="Pretraga" [(ngModel)]="searchParameter">
            </p>
            <a class="button is-info" (click)="search()">
                Pretraži
            </a>
        </div>

        <div class="navbar-end">
            <div class="select level-right">
                <select>
                    <option value="">Sortiraj</option>
                    <option value="na">Naziv rastuće</option>
                    <option value="nd">Naziv opadajuće</option>
                    <option value="la">Lokacija rastuće</option>
                    <option value="ld">Lokacija opadajuće</option>
                    <option value="ra">Ocena rastuće</option>
                    <option value="rd">Ocena opadajuće</option>
                </select>
            </div>
        </div>
    </nav>

    <article class="message" style="height: 25%;" *ngFor="let reservationEntity of reservationEntitiesToShow">
        <a routerLink="../reservationEntity/{{reservationEntity.id}}">
            <div class="message-header">
                <p>{{reservationEntity.name}}</p>
            </div>
            <div class="message-body">
                <div class="columns">
                    <div class="column is-one-quarter">
                        <img height="100%" width="100%"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/220px-Image_created_with_a_mobile_phone.png"
                            alt="image not loaded">
                    </div>
                    <div class="column">
                        <p>Adresa: {{reservationEntity.address.street}} {{reservationEntity.address.number}}
                            {{reservationEntity.address.city}} {{reservationEntity.address.country}}</p>
                        <p class="cut-text" style="height: 50%;">
                            Opis: {{reservationEntity.promotionalDescription}}
                        </p>
                        <p>Vrsta: viasd</p>
                        <span class="level-right">10/10</span>
                    </div>
                </div>
            </div>
        </a>
    </article>

</div>