<div class="container">
    <h1><strong>Vaše usluge:</strong></h1>
    <br>
    <nav class="panel">
        <div class="panel-block">
            <p class="control has-icons-left">
                <input class="input" type="text" placeholder="Pretraga" [(ngModel)]="searchParameter">
            </p>
            <a class="button is-info" (click)="search()">
                Pretraži
            </a>
        </div>
    </nav>

    <article class="message" style="height: 25%;" *ngFor="let reservationEntity of reservationEntitiesToShow">
        <a routerLink="{{entityViewRouterLink}}/{{reservationEntity.id}}">
            <div class="message-header">
                <p>{{reservationEntity.name}}</p>
            </div>
            <div class="message-body">
                <div class="columns">
                    <div class="column is-one-quarter">
                        <img height="100%" width="100%"
                            src="{{reservationEntity.base64Image}}"
                            alt="Nije učitana slika">
                    </div>
                    <div class="column">
                        <p>Adresa: {{reservationEntity.address.street}} {{reservationEntity.address.number}}
                            {{reservationEntity.address.city}} {{reservationEntity.address.country}}</p>
                        <p class="cut-text" style="height: 50%;">
                            Opis: {{reservationEntity.promotionalDescription}}
                        </p>
                        <p>Vrsta: viasd</p>
                        <span class="level-right">10/10</span>
                    </div>
                </div>
            </div>
        </a>
    </article>

</div>