<div class="container">
    <h1><strong>Vaše usluge:</strong></h1>
    <br>
    <nav class="panel">
        <div class="panel-block">
            <p class="control has-icons-left">
                <input class="input" type="text" placeholder="Pretraga" [(ngModel)]="searchParameter">
            </p>
            <a class="button is-info" (click)="search()">
                Pretraži
            </a>
        </div>
    </nav>

    <article style="height: 25%;" *ngFor="let reservationEntity of reservationEntitiesToShow"
        class="message {{reservationEntity.articleClass}}">
        <a routerLink="{{entityViewRouterLink}}/{{reservationEntity.id}}">
            <div class="message-header">
                <a routerLink="{{entityViewRouterLink}}/{{reservationEntity.id}}" style="text-decoration: none">
                    <p>{{reservationEntity.name}}</p>
                </a>
            </div>
            <div class="message-body">
                <div class="columns">
                    <div class="column is-one-quarter">
                        <a routerLink="{{entityViewRouterLink}}/{{reservationEntity.id}}" style="text-decoration: none">
                            <img height="100%" width="100%" src="{{reservationEntity.base64Image}}"
                                alt="Nije učitana slika">
                        </a>
                    </div>
                    <div class="column">
                        <a routerLink="{{entityViewRouterLink}}/{{reservationEntity.id}}" style="text-decoration: none">
                            <div>
                                <p>Adresa: {{reservationEntity.address.street}} {{reservationEntity.address.number}},
                                    {{reservationEntity.address.city}}, {{reservationEntity.address.country}}</p>
                                <br>
                                <p class="cut-text2" style="height: Auto;">
                                    Opis: {{reservationEntity.promotionalDescription}}
                                </p>
                                <br>
                                <p class="cut-text1" style="height: Auto;">
                                    Pravila ponašanja: {{reservationEntity.rulesOfConduct}}
                                </p>
                                <br>
                                <p *ngIf="reservationEntity.type == 'cottage'">Vrsta: vikendica</p>
                                <p *ngIf="reservationEntity.type == 'boat'">Vrsta: brod</p>
                                <p *ngIf="reservationEntity.type == 'fishingInstructor'">Vrsta: instruktor pecanja</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </a>
    </article>

</div>