<section class="hero is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-8 is-offset-2">
                <h3 class="title is-danger">Zahtev za brisanje naloga</h3>
                <div class="box">
                    <form ngNativeValidate>
                        <div class="field">
                            <label class="label is-medium">Zašto želite da obrišete nalog?</label>
                            <textarea class="textarea" placeholder="Vaše obrazloženje"></textarea>
                        </div>
                        <button class="button is-block is-danger is-large is-fullwidth">Pošalji zahtev</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>