<section class="hero is-fullheight">
    <div class="hero-body ">
        <div class="container">
            <div class="column is-16 has-text-centered">
                <h1 class="title">{{reservationEntity.name}}</h1>
                <h5 class="subtitle" *ngIf="reservationEntity.type == 'cottage'">Vikendica</h5>
                <h5 class="subtitle" *ngIf="reservationEntity.type == 'boat'">Brod</h5>
                <h5 class="subtitle" *ngIf="reservationEntity.type == 'fishingInstructor'">Instruktor pecanja</h5>
            </div>
            <div class="box">

                <div class="has-text-right">
                    <span class="icon">
                        <a *ngIf="this.authService.getRole() == 'ROLE_USER' && !isSubscribed()"
                            (click)="subscribe(true)">
                            <i class="fas fa-2x fa-bell"></i>
                        </a>
                        <a *ngIf="this.authService.getRole() == 'ROLE_USER' && isSubscribed()"
                            (click)="subscribe(false)">
                            <i class="fas fa-2x fa-bell-slash"></i>
                        </a>
                    </span>
                </div>
                <div class="has-text-centered">
                    <ng-image-slider [images]="imageObject" [imageSize]="{width: 250, height: 200}" #nav>
                    </ng-image-slider>

                    <!--
                    <img height="20%" width="20%"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/220px-Image_created_with_a_mobile_phone.png"
                        alt="image not loaded">-->
                </div>
                <table class="table is-fullwidth">
                    <tbody>
                        <tr>
                            <td>Adresa: {{reservationEntity.address.street}} {{reservationEntity.address.number}},
                                {{reservationEntity.address.city}}, {{reservationEntity.address.country}}</td>
                        </tr>

                        <tr>
                            <td>Broj soba: {{reservationEntity.numberOfRooms}}</td>
                        </tr>
                        <tr>
                            <td>Broj kreveta po sobi: {{reservationEntity.bedsPerRoom}}</td>
                        </tr>
                        <tr>
                            <td>Cena noćenja po osobi: {{reservationEntity.price}}</td>
                        </tr>
                        <tr class="cut-text" style="height: 50%;">
                            <td>
                                Opis: {{reservationEntity.promotionalDescription}}</td>
                        </tr>
                        <tr>
                            <td>Pravila ponašanja: {{reservationEntity.rulesOfConduct}}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <table class="table is-fullwidth" *ngIf="reservationEntity.type=='cottage'">
                    <tbody>
                        <tr>
                            <td>Ime vlasnika vikendice: {{reservationEntity.cottageOwner.name}}</td>
                        </tr>

                        <tr>
                            <td>Prezime vlasnika vikendice: {{reservationEntity.cottageOwner.surname}}</td>
                        </tr>
                        <tr>
                            <td>Broj telefona vlasnika vikendice: {{reservationEntity.cottageOwner.mobileNumber}}</td>
                        </tr>

                        <tr>
                            <td>Email adresa vlasnika vikendice: {{reservationEntity.cottageOwner.mailAddress}}</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table is-fullwidth" *ngIf="reservationEntity.type=='boat'">
                    <tbody>
                        <tr>
                            <td>Ime vlasnika broda: {{reservationEntity.boatOwner.name}}</td>
                        </tr>

                        <tr>
                            <td>Prezime vlasnika broda: {{reservationEntity.boatOwner.surname}}</td>
                        </tr>
                        <tr>
                            <td>Broj telefona vlasnika broda: {{reservationEntity.boatOwner.mobileNumber}}</td>
                        </tr>

                        <tr>
                            <td>Email adresa vlasnika broda: {{reservationEntity.boatOwner.mailAddress}}</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table is-fullwidth" *ngIf="reservationEntity.type=='fishingInstructor'">
                    <tbody>
                        <tr>
                            <td>Ime instruktora: {{reservationEntity.fishingInstructor.name}}</td>
                        </tr>

                        <tr>
                            <td>Prezime instruktora: {{reservationEntity.fishingInstructor.surname}}</td>
                        </tr>
                        <tr>
                            <td>Broj telefona instruktora: {{reservationEntity.fishingInstructor.mobileNumber}}</td>
                        </tr>

                        <tr>
                            <td>Email adresa instruktora: {{reservationEntity.fishingInstructor.mailAddress}}</td>
                        </tr>
                    </tbody>
                </table>

            </div><br>
            <h1 class="subtitle" *ngIf="specialReservations==null || specialReservations.length==0">Ne postoje
                akcije za ovaj entitet</h1>

            <div class="box" *ngIf="this.authService.getRole()=='ROLE_USER' && specialReservations.length!=0">
                <h5 class="subtitle">Akcije (brze rezervacije):</h5>
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Trajanje[u danima]</th>
                            <th>Maksimalan broj ljudi</th>
                            <th>Akcijska cena[dinara]</th>
                            <th>Akciju možete rezervisati od-do</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let specialReservation of specialReservations">
                            <td>{{specialReservation.start | date:"dd.MM.yyyy, HH:mm"}}</td>
                            <td>{{specialReservation.durationInHours / 24}}</td>
                            <td>{{specialReservation.maxPeople}}</td>
                            <td>{{specialReservation.price}}</td>
                            <td>{{specialReservation.validFrom | date:"dd.MM.yyyy, HH:mm"}} -
                                {{specialReservation.validTo | date:"dd.MM.yyyy, HH:mm"}}</td>
                            <td><a (click)="reserve(specialReservation)"><span class="icon">
                                        <i class="fas fa-info"></i>
                                    </span></a></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>