<section class="hero is-fullheight">
    <div class="hero-body ">
        <div class="container">
            <div class="column is-16 is-offset-0 has-text-centered">
                <h1 class="title">{{reservationEntity.name}}</h1>
                <h5 class="subtitle">{{reservationEntity.type}}</h5>
            </div>
            <div class="box">
                <div class="has-text-centered">
                    <ng-image-slider [images]="imageObject" #nav></ng-image-slider>

                    <!--
                    <img height="20%" width="20%"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/220px-Image_created_with_a_mobile_phone.png"
                        alt="image not loaded">-->
                </div>
                <table class="table is-fullwidth">
                    <tbody>
                        <tr>
                            <td>Adresa: {{reservationEntity.address.street}} {{reservationEntity.address.number}},
                                {{reservationEntity.address.city}}, {{reservationEntity.address.country}}</td>
                        </tr>

                        <tr>
                            <td>Broj soba: {{reservationEntity.numberOfRooms}}</td>
                        </tr>
                        <tr>
                            <td>Broj kreveta po sobi: {{reservationEntity.bedsPerRoom}}</td>
                        </tr>
                        <tr>
                            <td>Cena noćenja po osobi: {{reservationEntity.price}}</td>
                        </tr>
                        <tr class="cut-text" style="height: 50%;">
                            <td>
                                Opis: {{reservationEntity.promotionalDescription}}</td>
                        </tr>
                        <tr>
                            <td>Pravila ponašanja: {{reservationEntity.rulesOfConduct}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>