<section class="hero is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-6 is-offset-3">
                <h3 class="title has-text-grey">Izmena lozinke</h3>
                <div class="box">
                    <form ngNativeValidate>
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="password" placeholder="Stara loznika" autofocus="" name="oldPassword" [(ngModel)]="changePasswordModel.oldPassword" required>
                            </div>
                            <p class="is-danger help"></p>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="password" placeholder="Nova lozinka" name="newPassword1" [(ngModel)]="changePasswordModel.newPassword1" required>
                            </div>
                            <p class="is-danger help"></p>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="password" placeholder="Ponovi lozinku" name="newPassword2" [(ngModel)]="changePasswordModel.newPassword2" required>
                            </div>
                            <p class="is-danger help"></p>
                        </div>
                        <button class="button is-block is-info is-large is-fullwidth" (click)="changePassword()">Izmeni lozinku</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>