<h1 class="title has-text-centered">Penali u tekućem mesecu</h1>
<div class="container">
    <br>
        <table class="table is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Vrsta</th>
                <th>Naziv</th>
                <th>Datum</th>
                <th>Kratak opis</th>
            </tr>
        </thead>

        <!--dummy data-->
        <tfoot>
            <tr>
                <td>Brod/Čamac</td>
                <td>Mesec</td>
                <td>29.12.2021</td>
                <td>Quisque nec neque ex. Curabitur finibus et velit eu posuere.</td>
            </tr>
            <tr>
                <td>Instruktor pecanja</td>
                <td>Fishing</td>
                <td>29.12.2021</td>
                <td>Nullam mi odio, imperdiet lobortis magna at, gravida aliquam sapien.</td>
            </tr>
        </tfoot>
    </table>


</div>