<section class="hero is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-8 is-offset-2">
                <h3 class="title is-danger">Imate primedbe na neku vikendicu, brod ili instruktora pecanja?<br> Pošaljite nam vaše primedbe</h3>
                <div class="box">
                    <form ngNativeValidate>
                        <div class="select is-fullwidth">
                            <select>
                              <option>Izaberite naziv objekta za koji pišete žalbu</option>
                              <option>Vikendica -- Mesec</option>
                              <option>Instruktor pecanja -- Fishing</option>
                            </select>
                          </div>
                        <div class="field">
                            <textarea class="textarea" placeholder="Vaše obrazloženje"></textarea>
                        </div>
                        <button class="button is-block is-info is-large is-fullwidth">Pošalji</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>