<div class="columns">
    <div class="column is-one-fifth">
        <section class="hero is-medium">
            <div class="hero-body ">
                <div class="container has-text-centered">
                    <a class="button is-info is-light"
                        routerLink="../../additionalServices/{{reservationEntity.id}}">Dodatne usluge</a>
                    <hr />
                    <a class="button is-info is-light"
                        routerLink="../../entityReservations/{{reservationEntity.id}}">Uvid u rezervacije</a>
                    <hr />
                    <a class="button is-info is-light"
                        routerLink="../../availableAppointments/{{reservationEntity.id}}">Periodi
                        dostupnosti</a>
                    <hr />
                    <a class="button is-info is-light" (click)="createNewAction()">Kreiranje akcija za
                        brzu rezervaciju</a>
                    <hr />
                    <a class="button is-info is-light" (click)="createNewReservationForClient()">Kreirajte novu
                        rezervaciju za klijenta</a>
                    <hr />
                    <a class="button is-danger is-light" *ngIf="userRole == 'ROLE_cottageOwner'"
                        (click)="deleteCottage()">Brisanje vikendice</a>
                    <a class="button is-danger is-light" *ngIf="userRole == 'ROLE_boatOwner'">Brisanje broda/čamca</a>
                </div>
            </div>
        </section>
    </div>
    <div class="column ">
        <section class="hero is-fullheight">
            <div class="hero-body ">
                <div class="container has-text-centered">
                    <div class="column is-10 is-offset-2">
                        <h2 class="title" *ngIf="userRole == 'ROLE_cottageOwner'">Vaša vikendica
                            {{reservationEntity.name}}</h2>
                        <h2 class="title" *ngIf="userRole == 'ROLE_boatOwner'">Vaš brod/čamac
                            {{reservationEntity.name}}</h2>
                        <div class="box">

                            <div class="has-text-centered" *ngIf="imageObject.length > 0">
                                <ng-image-slider [images]="imageObject" [imageSize]="{width: 200, height: 200}" #nav>
                                </ng-image-slider>
                            </div>

                            <label class="label">Izaberite sliku za postavljanje</label>
                            <nav class="level box">
                                <div class="control">
                                    <input type="file" name="picture" accept=".jpg, .jpeg, .png"
                                        (change)="uploadImage($event)">
                                </div>
                            </nav>

                            <br />

                            <form>
                                <div class="field">
                                    <label class="label">Naziv</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Naziv" name="name"
                                            [(ngModel)]="reservationEntity.name">
                                    </div>
                                </div>

                                <!-- POSEDUJE SAMO VIKENDICA -->
                                <div class="field" *ngIf="userRole == 'ROLE_cottageOwner'">
                                    <label class="label">Broj soba</label>
                                    <div class="control">
                                        <input class="input" type="number" placeholder="Broj soba" name="numberOfRooms"
                                            (focusout)="onFocusOutNumberOfRooms()"
                                            [(ngModel)]="reservationEntity.numberOfRooms">
                                    </div>
                                    <p class="is-danger help" *ngIf="isNumberOfRoomsValid == false">Broj soba mora biti
                                        cifra.</p>
                                </div>

                                <div class="field" *ngIf="userRole == 'ROLE_cottageOwner'">
                                    <label class="label">Broj kreveta po sobi</label>
                                    <div class="control">
                                        <input class="input" type="number" placeholder="Broj kreveta po sobi"
                                            (focusout)="onFocusOutNumberOfBeds()" name="bedsPerRoom"
                                            [(ngModel)]="reservationEntity.bedsPerRoom">
                                    </div>
                                    <p class="is-danger help" *ngIf="isNumberOfBedsValid == false">Broj kreveta mora
                                        biti cifra.</p>
                                </div>

                                <div class="field">
                                    <label class="label">Cena noćenja</label>
                                    <div class="control">
                                        <input class="input" type="number" placeholder="Cena noćenja" name="price"
                                            (focusout)="onFocusOutPrice()" [(ngModel)]="reservationEntity.price">
                                    </div>
                                    <p class="is-danger help" *ngIf="isPriceValid == false">Cena mora biti cifra.</p>
                                </div>

                                <!-- ----------------------- -->

                                <div class="field">
                                    <label class="label">Promotivni opis</label>
                                    <div class="control">
                                        <textarea class="textarea" placeholder="Promotivni opis"
                                            name="promotionalDescription"
                                            [(ngModel)]="reservationEntity.promotionalDescription"></textarea>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label">Pravila ponašanja</label>
                                    <div class="control">
                                        <textarea class="textarea" placeholder="Pravila ponašanja" name="rulesOfConduct"
                                            [(ngModel)]="reservationEntity.rulesOfConduct"></textarea>
                                    </div>
                                </div>

                                <hr />

                                <div class="field">
                                    <label class="label">Ulica</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Ulica" name="street"
                                            [(ngModel)]="reservationEntity.street">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Broj</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Broj" name="number"
                                            [(ngModel)]="reservationEntity.number">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Grad</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Grad" name="city"
                                            [(ngModel)]="reservationEntity.city">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Poštanski broj</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="12345" name="postalCode"
                                            (focusout)="onFocusOutPostalCode()"
                                            [(ngModel)]="reservationEntity.postalCode">
                                    </div>
                                    <p class="is-danger help" *ngIf="isPostalCodeValid == false">Poštanski broj mora
                                        sadržati 5
                                        cifara</p>
                                </div>
                                <div class="field">
                                    <label class="label">Država</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Država" name="country"
                                            [(ngModel)]="reservationEntity.country">
                                    </div>
                                </div>


                                <br>
                                <button class="button is-block is-info is-large is-fullwidth" (click)="updateCottage()"
                                    *ngIf="userRole == 'ROLE_cottageOwner'">Izmeni
                                    vikendicu</button>

                                <button class="button is-block is-info is-large is-fullwidth" (click)="updateBoat()"
                                    *ngIf="userRole == 'ROLE_boatOwner'">Kreiraj
                                    brod/čamac</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>