<button class="button is-link" routerLink="../../viewEntity/{{reservationEntity.id}}">Nazad</button>
<h1 class="title has-text-centered">Rezervacije za {{reservationEntity.name}}</h1>
<div class="container">
    <br>
    <nav class="panel">
        <div class="select level-right">
            <select [(ngModel)]="reservationsType" (change)="reservationsToShow()">
                <option value="all">Sve</option>
                <option value="future">Buduće</option>
                <option value="current">Trenutne</option>
                <option value="past">Završene</option>
            </select>
        </div>
    </nav>
    <table class="table is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Početak</th>
                <th>Trajanje[u danima]</th>
                <th>Cena[dinara]</th>
                <th>Otkazana</th>
                <th>Korisnik</th>
                <th></th>
            </tr>
        </thead>

        <tfoot *ngFor="let reservation of reservationsOfEntityToShow">
            <tr>
                <td>{{reservation.start | date:"dd.MM.yyyy, HH:mm"}}</td>
                <td>{{reservation.durationInHours/24}}</td>
                <td>{{reservation.price}}</td>
                <td *ngIf="reservation.deleted">Da</td>
                <td *ngIf="!reservation.deleted">Ne</td>
                <td><a routerLink="../../basicProfileView/{{reservation.user.mailAddress}}">{{reservation.user.name}} {{reservation.user.surname}}</a></td>
                <td><button class="button is-small" routerLink="../../reservationView/{{reservation.id}}">Pregled</button></td>
            </tr>
        </tfoot>
    </table>


</div>