<div class="columns">
    <div class="column is-one-fifth">
        <section class="hero is-medium">
            <div class="hero-body ">

            </div>
        </section>
    </div>
    <div class="column ">
        <section class="hero is-fullheight">
            <div class="hero-body ">
                <div class="container has-text-centered">
                    <div class="column is-9 is-offset-0">
                        <h2 class="title has-text-grey">Kreiranje broda/čamca</h2>
                        <div class="box">
                            <form>
                                <p>Slike možete postaviti nakon kreiranja broda/čamca</p>
                                <hr />

                                <div class="field">
                                    <label class="label">Naziv</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Naziv" name="name"
                                            [(ngModel)]="newBoat.name">
                                    </div>
                                </div>

                                <!-- POSEDUJE SAMO BROD -->
                                <div class="field">
                                    <label class="label">Tip</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Tip" name="boatType"
                                            [(ngModel)]="newBoat.boatType">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label">Dužina (m)</label>
                                    <div class="control">
                                        <input class="input" type="number" placeholder="Dužina"
                                            (focusout)="onFocusOutBoatLength()" name="boatLength"
                                            [(ngModel)]="newBoat.boatLength">
                                    </div>
                                    <p class="is-danger help" *ngIf="isBoatLengthValid == false">Dužina broda/čamca
                                        mora biti broj.</p>
                                </div>

                                <div class="field">
                                    <label class="label">Kapacitet ljudi</label>
                                    <div class="control">
                                        <input class="input" type="number" placeholder="Kapacitet" name="capacity"
                                            (focusout)="onFocusOutCapacity()" [(ngModel)]="newBoat.capacity">
                                    </div>
                                    <p class="is-danger help" *ngIf="isCapacityValid == false">Kapacitet mora biti
                                        cifra.
                                    </p>
                                </div>

                                <hr />

                                <div class="field">
                                    <label class="label">Broj motora</label>
                                    <div class="control">
                                        <input class="input" type="number" placeholder="Broj motora"
                                            (focusout)="onFocusOutNumberOfEngines()" name="numberOfEngines"
                                            [(ngModel)]="newBoat.numberOfEngines">
                                    </div>
                                    <p class="is-danger help" *ngIf="isNumberOfEnginesValid == false">Broj motora mora
                                        biti broj.</p>
                                </div>

                                <div class="field">
                                    <label class="label">Snaga motora (kW)</label>
                                    <div class="control">
                                        <input class="input" type="number" placeholder="Snaga motora"
                                            (focusout)="onFocusOutEnginePower()" name="enginePower"
                                            [(ngModel)]="newBoat.enginePower">
                                    </div>
                                    <p class="is-danger help" *ngIf="isEnginePowerValid == false">Snaga motora mora
                                        biti broj.</p>
                                </div>

                                <div class="field">
                                    <label class="label">Maksimalna brzina (km/h)</label>
                                    <div class="control">
                                        <input class="input" type="number" placeholder="Maksimalna brzina"
                                            (focusout)="onFocusOutMaxSpeed()" name="maxSpeed"
                                            [(ngModel)]="newBoat.maxSpeed">
                                    </div>
                                    <p class="is-danger help" *ngIf="isMaxSpeedValid == false">Maksimalna brzina
                                        broda/čamca mora biti broj.</p>
                                </div>

                                <div class="field">
                                    <label class="label">Navigaciona oprema</label>
                                    <div class="control">
                                        <textarea class="textarea" placeholder="Navigaciona oprema"
                                            name="navigationEquipment"
                                            [(ngModel)]="newBoat.navigationEquipment"></textarea>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label">Oprema za pecanje</label>
                                    <div class="control">
                                        <textarea class="textarea" placeholder="Oprema za pecanje"
                                            name="fishingEquipment" [(ngModel)]="newBoat.fishingEquipment"></textarea>
                                    </div>
                                </div>

                                <hr />

                                <div class="field">
                                    <label class="label">Uslovi otkazivanja rezervacije</label>
                                    <div class="control">
                                        <textarea class="textarea" placeholder="Uslovi otkazivanja rezervacije"
                                            name="cancellationConditions" [(ngModel)]="newBoat.cancellationConditions"></textarea>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label">Cena po danu (din)</label>
                                    <div class="control">
                                        <input class="input" type="number" placeholder="Cena po danu" name="price"
                                            (focusout)="onFocusOutPrice()" [(ngModel)]="newBoat.price">
                                    </div>
                                    <p class="is-danger help" *ngIf="isPriceValid == false">Cena mora biti cifra.</p>
                                </div>
                                <!-- ------------------ -->

                                <div class="field">
                                    <label class="label">Promotivni opis</label>
                                    <div class="control">
                                        <textarea class="textarea" placeholder="Promotivni opis"
                                            name="promotionalDescription"
                                            [(ngModel)]="newBoat.promotionalDescription"></textarea>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label">Pravila ponašanja</label>
                                    <div class="control">
                                        <textarea class="textarea" placeholder="Pravila ponašanja" name="rulesOfConduct"
                                            [(ngModel)]="newBoat.rulesOfConduct"></textarea>
                                    </div>
                                </div>

                                <hr />

                                <div class="field">
                                    <label class="label">Ulica</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Ulica" name="street"
                                            [(ngModel)]="newBoat.street">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Broj</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Broj" name="number"
                                            [(ngModel)]="newBoat.number">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Grad</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Grad" name="city"
                                            [(ngModel)]="newBoat.city">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Poštanski broj</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="12345" name="postalCode"
                                            (focusout)="onFocusOutPostalCode()" [(ngModel)]="newBoat.postalCode">
                                    </div>
                                    <p class="is-danger help" *ngIf="isPostalCodeValid == false">Poštanski broj mora
                                        sadržati 5
                                        cifara</p>
                                </div>
                                <div class="field">
                                    <label class="label">Država</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Država" name="country"
                                            [(ngModel)]="newBoat.country">
                                    </div>
                                </div>

                                <div class="field is-vcentered">
                                    <label class="label">Lokacija</label>

                                    <div class="container has-text-centered">
                                        <div class="column is-0 is-offset-3">
                                            <div id="map" class="map"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="column">
                                        <p><b>Koordinate (odaberite na mapi):</b></p>
                                        <p *ngIf="newBoat.longitude == -100" class="is-selected" style="color: red;">Nije
                                            selektovana lokacija na mapi</p>
                                        <p *ngIf="newBoat.longitude != -100">
                                            {{newBoat.longitude}}, {{newBoat.latitude}}</p>
                                    </div>
                                </div>

                                <br>

                                <button class="button is-block is-info is-large is-fullwidth"
                                    (click)="createBoat()">Kreiraj
                                    brod/čamac</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>