<h1 class="title has-text-centered">Istorija rezervacija</h1>
<div class="container">
    <br>
    <nav class="panel">
        <p>Vrsta: </p>

        <div>
            <label class="checkbox ml-6">
                <input type="checkbox">
                Vikendice
            </label>
        </div>


        <div>
            <label class="checkbox ml-6">
                <input type="checkbox">
                Brodovi / čamci
            </label>
        </div>

        <div>
            <label class="checkbox ml-6">
                <input type="checkbox">
                Instruktori pecanja
            </label>
        </div>
        <div>
            <div class="select level-right">
                <select [(ngModel)]="this.searchFilterSortModel.sort">
                    <option value="">Sortiraj</option>
                    <option value="da">Datum rastuće</option>
                    <option value="dd">Datum opadajuće</option>
                    <option value="pa">Cena rastuće</option>
                    <option value="pd">Cena opadajuće</option>
                    <option value="dua">Trajanje rastuće</option>
                    <option value="dud">Trajanje opadajuće</option>
                </select>
            </div>
        </div>
    </nav>
    <table class="table is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Vrsta</th>
                <th>Naziv</th>
                <th>Adresa</th>
                <th>Datum</th>
                <th>Trajanje[u danima]</th>
                <th>Cena[dinara]</th>
                <th></th>
            </tr>
        </thead>

        <h1 *ngIf="reservations==null || reservations.length == 0">Za izabrane kriterijume ne postoje rezervacije</h1>
        <tbody>
            <tr *ngFor="let reservation of reservations">
                <td *ngIf="reservation.reservationEntity.type == 'cottage'">Vikendica</td>
                <td *ngIf="reservation.reservationEntity.type == 'boat'">Brod</td>
                <td *ngIf="reservation.reservationEntity.type == 'fishingInstructor'">Instruktor pecanja</td>
                <td>{{reservation.reservationEntity.name}}</td>
                <td>{{reservation.reservationEntity.address.street}} {{reservation.reservationEntity.address.number}},
                    {{reservation.reservationEntity.address.city}}, {{reservation.reservationEntity.address.country}}
                </td>
                <td>{{reservation.start | date:"dd.MM.yyyy, HH:mm"}}</td>
                <td>{{reservation.durationInHours/24}}</td>
                <td>{{reservation.price}}</td>
                <td><a *ngIf="canReview(reservation)" (click)="toggleModal(reservation)"><span class="icon is-medium">
                            <i class="fas fa-2x fa-comment-dots"></i>
                        </span></a></td>
                <div class="modal" [ngClass]="{ 'is-active' : reservation.isModalActive }">
                    <div class="modal-background" (click)="toggleModal(reservation)"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">Ocenjivanje rezervacije</p>
                            <button class="delete" aria-label="close" (click)="toggleModal(reservation)"></button>
                        </header>
                        <section class="modal-card-body has-text-left">
                            <form ngNativeValidate>
                                <div class="select is-fullwidth">
                                    <select [(ngModel)]="this.review.mark" name="entityIdString">
                                        <option value=0>Izaberite ocenu</option>
                                        <option *ngFor="let mark of possibleMarks"
                                            value="{{mark}}">{{mark}}</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <textarea class="textarea" placeholder="Vaše obrazloženje"
                                        [(ngModel)]="this.review.explain" name="explain"></textarea>
                                </div>
                            </form>
                        </section>
                        <footer class="modal-card-foot">
                            <button class="button is-success" (click)="saveReview(reservation)">Pošalji
                                rezervaciju</button>
                            <button class="button" (click)="toggleModal(reservation)">Otkaži</button>
                        </footer>
                    </div>
                </div>
            </tr>
        </tbody>
    </table>


</div>