<h1 class="title has-text-centered">Istorija rezervacija</h1>
<div class="container">
    <br>
    <nav class="panel">
        <p>Vrsta: </p>

        <div>
            <label class="checkbox ml-6">
                <input type="checkbox">
                Vikendice
            </label>
        </div>


        <div>
            <label class="checkbox ml-6">
                <input type="checkbox">
                Brodovi / čamci
            </label>
        </div>

        <div>
            <label class="checkbox ml-6">
                <input type="checkbox">
                Instruktori pecanja
            </label>
        </div>
        <div>
            <div class="select level-right">
                <select [(ngModel)]="this.searchFilterSortModel.sort">
                    <option value="">Sortiraj</option>
                    <option value="da">Datum rastuće</option>
                    <option value="dd">Datum opadajuće</option>
                    <option value="pa">Cena rastuće</option>
                    <option value="pd">Cena opadajuće</option>
                    <option value="dua">Trajanje rastuće</option>
                    <option value="dud">Trajanje opadajuće</option>
                </select>
            </div>
        </div>
    </nav>
    <table class="table is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Vrsta</th>
                <th>Naziv</th>
                <th>Adresa</th>
                <th>Datum</th>
                <th>Trajanje[u danima]</th>
                <th>Cena[dinara]</th>
            </tr>
        </thead>

        <h1 *ngIf="reservations==null || reservations.length == 0">Za izabrane kriterijume ne postoje rezervacije</h1>
        <tbody>
            <tr *ngFor="let reservation of reservations">
                <td *ngIf="reservation.reservationEntity.type == 'cottage'">Vikendica</td>
                <td *ngIf="reservation.reservationEntity.type == 'boat'">Brod</td>
                <td *ngIf="reservation.reservationEntity.type == 'fishingInstructor'">Instruktor pecanja</td>
                <td>{{reservation.reservationEntity.name}}</td>
                <td>{{reservation.reservationEntity.address.street}} {{reservation.reservationEntity.address.number}},
                    {{reservation.reservationEntity.address.city}}, {{reservation.reservationEntity.address.country}}</td>
                <td>{{reservation.start | date:"dd.MM.yyyy, HH:mm"}}</td>
                <td>{{reservation.durationInHours/24}}</td>
                <td>{{reservation.price}}</td>
            </tr>
        </tbody>
    </table>


</div>