<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <span class="navbar-item" *ngIf="this.authService.getRole() == null">
        <a class="navbar-item" [routerLink]="['']">
          Početna
        </a>
      </span>
      <span class="navbar-item" *ngIf="this.authService.getRole() == 'ROLE_USER'">
        <a class="navbar-item" [routerLink]="['']">
          Početna
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Moje rezervacije
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" [routerLink]="['/reservation']">
              Istorija rezervacija
            </a>
            <a class="navbar-item" [routerLink]="['/curent_reservation']">
              Trenutne rezervacije
            </a>
          </div>
        </div>
      </span>



      <!--  za ostale elemente koristiti: https://bulma.io/documentation/components/navbar/#basic-navbar  -->

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <span *ngIf="this.authService.getRole() == null">
            <a class="button is-light" [routerLink]="['/login']">
              Prijavi se
            </a>
            <a class="button is-primary" [routerLink]="['/registration']">
              <strong>Registruj se</strong>
            </a>
          </span>

          <span class="navbar-item" *ngIf="this.authService.getRole() == 'ROLE_USER'">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" [routerLink]="['/user_profile']">
                Profil
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item" [routerLink]="['/penalties']">
                  Uvid u penale
                </a>
                <a class="navbar-item" [routerLink]="['/subscribed']">
                  Lista pretplaćenih
                </a>
                <a class="navbar-item" [routerLink]="['/complaint']">
                  Napiši žalbu
                </a>
                <a class="navbar-item" [routerLink]="['/user_profile']">
                  Profil
                </a>
              </div>
            </div>
          </span>

          <!-- Meni u slucaju specijalnog korisnika -->
          <span class="navbar-item" *ngIf="this.authService.getRole() == 'ROLE_cottageOwner' || this.authService.getRole() == 'ROLE_boatOwner'">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" [routerLink]="['specialUser/userProfile']">
                Profil
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item" [routerLink]="['specialUser/userProfile']">
                  Profil
                </a>
              </div>
            </div>
          </span>

          <span *ngIf="this.authService.getRole() != null">
            <a class="tag is-warning is-medium" (click)="this.authService.logout()">
              Odjavi se
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</nav>