<nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
              Početna
            </a>
      
            <!--  za ostale elemente koristiti: https://bulma.io/documentation/components/navbar/#basic-navbar  -->

          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-light">
                  Prijavi se
                </a>
                <a class="button is-primary">
                  <strong>Registruj se</strong>
                </a>
              </div>
            </div>
          </div>
    </div>
</nav>